.movie-app__favorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__movie-field {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}
