.movie-app__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    &__avatar-field {
        position: relative;
        width: 150px;
        height: 150px;
        margin-right: 30px;
        cursor: pointer;
        img {
            position: absolute;
            border-radius: 50%;
            width: 90%;
            height: 90%;
            left: 50%;
            top: 50%;
            margin-left: -75px;
            margin-top: -75px;
            box-shadow: 0px 0px 44px -10px #010a26;
        }
        &:hover {
            img {
                box-shadow: 0px 0px 46px -8px lighten($color: #010a26, $amount: 10);
            }
        }
    }
    &__username {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        span {
            font-family: Lobster;
            font-size: 24px;
            line-height: 14px;
            display: flex;
            align-items: center;
            width: 90%;
            text-align: center;
            padding-top: 5px;
            cursor: pointer;
        }
        &:hover {
            span {
                text-shadow: 0px 0px 2px lighten($color: #010a26, $amount: 10);
            }
        }
    }
    &__popup {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #010a26;
        border-radius: 10px;
        color: #c1c7d9;
        padding: 10px;
        input {
            background-color: #010a26;
            color: #c1c7d9;
            border: none;
            &::-webkit-input-placeholder {
                color: #c1c7d9;
                opacity: 0.7;
            }
        }
        button {
            background-color: #010a26;
            color: #c1c7d9;
            border: 1px solid darken(#c1c7d9, 40%);
            padding: 5px;
            border-radius: 5px;
        }
    }
}
